body {
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

table {
    width: 100%;
    min-height: 10vh;
    border: 1px solid #000000;
}

th, td  {
    padding: 10px;
    border: 1px solid #000000;
}

th {
    background-color: bisque;
    cursor: pointer;
}

th:hover {
    background-color: aqua;
}

tbody > tr:hover {
    background-color: aqua;
}